<h2 mat-dialog-title>{{receivedData.message}}</h2>

<mat-dialog-content>
    <p> <b>{{'TITLE' | translate}}: </b> {{receivedData.note.title}} </p>
    <p> <b>{{'START_DATE' | translate}}: </b> {{receivedData.note.startDate * 1000 | date: 'dd-MM-YYYY'}} </p>
    <p> <b>{{'DURATION' | translate}}: </b> {{receivedData.note.days.length}} {{'DAYS' | translate }}</p>
    <div class="mb-5">
        <mat-chip-list>
            <mat-chip *ngFor="let label of receivedData['noteLabels'];">{{label}}</mat-chip>
        </mat-chip-list>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">{{'NO' | translate | uppercase}}</button>
    <button mat-raised-button color="primary" (click)="save()">{{'YES' | translate | uppercase}}</button>
</mat-dialog-actions>