<div *ngIf="isLoading" class="bar-div">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div *ngIf="isPageLoading" class="spinner-div">
  <mat-spinner class="spinner"></mat-spinner>
</div>
<div *ngIf="!isPageLoading" class="main-div" (window:resize)="onResize($event)">
  <div class="label-div">
    <div class="menu">
      <mat-icon *ngIf="isSmall" class="filter-icon" (click)="drawer.toggle()">filter_alt</mat-icon>
    </div>
    <div class="date">
      <mat-icon class="date-icon">date_range</mat-icon>
    </div>
    <div class="label-text-div label-color-{{i}}" *ngFor="let label of filteredLabels; let i = index;">
      <b class="text">{{label.text | slice:0:8 | uppercase }}</b>
    </div>
  </div>

  <mat-drawer [hidden]="!isSmall" class="drawer" #drawer mode="over" position="end">
    <div *ngIf="isSmall">
      <mat-grid-list cols="1" rowHeight="80">
        <mat-grid-tile>
          <mat-icon class="close-icon" (click)="drawer.toggle()">close</mat-icon>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="fill" class="label-select">
            <mat-label>{{'SELECT_LABEL' | translate}}</mat-label>
            <mat-select [(ngModel)]="selectedLabel" (selectionChange)="filterData()">
              <mat-option [value]="0">All</mat-option>
              <mat-option *ngFor="let label of noteLabels;" [value]="label.id">{{label.text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="fill" class="week-selector" (click)="picker.open()">
            <mat-label>{{'DATE_RANGE' | translate}}</mat-label>
            <mat-date-range-input class="date-range" [rangePicker]="picker">
              <input matStartDate [(ngModel)]="startDate" placeholder="Start date"
                (dateChange)="startDateSelection(picker)" class="date-range-input" readonly>
              <input matEndDate [(ngModel)]="endDate" placeholder="End date" (dateChange)="endDateSelection(picker)"
                class="date-range-input" readonly>
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker touchUi #picker></mat-date-range-picker>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="fill" class="language-select">
            <mat-label>{{'SELECT_LABEL' | translate}}</mat-label>
            <mat-select [(ngModel)]="selectedLanguage" (selectionChange)="selectLanguage(selectedLanguage)">
              <mat-option [value]="'en'">{{'ENGLISH' | uppercase}}</mat-option>
              <mat-option [value]="'de'">{{'DEUTSCH' | uppercase}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-icon>light_mode</mat-icon>
          <mat-slide-toggle [checked]="!lightTheme" class="theme-toggle" (change)="selectTheme($event)">
            <mat-icon>dark_mode</mat-icon>
          </mat-slide-toggle>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-drawer>


  <div class="scheduler-div">

    <div *ngIf="isSmall" class="top-space">

    </div>
    <mat-grid-list *ngIf="!isSmall" cols="5" rowHeight="80">
      <mat-grid-tile colspan='1'>
        <mat-form-field appearance="fill" class="label-select">
          <mat-label>{{'SELECT_LABEL' | translate}}</mat-label>
          <mat-select [(ngModel)]="selectedLabel" (selectionChange)="filterData()">
            <mat-option [value]="0">All</mat-option>
            <mat-option *ngFor="let label of noteLabels;" [value]="label.id">{{label.text}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan='2'>
        <mat-form-field appearance="fill" class="week-selector" (click)="picker.open()">
          <mat-label>{{'DATE_RANGE' | translate}}</mat-label>
          <mat-date-range-input class="date-range" [rangePicker]="picker">
            <input matStartDate [(ngModel)]="startDate" placeholder="Start date"
              (dateChange)="startDateSelection(picker)" class="date-range-input" readonly>
            <input matEndDate [(ngModel)]="endDate" placeholder="End date" (dateChange)="endDateSelection(picker)"
              class="date-range-input" readonly>
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker touchUi #picker></mat-date-range-picker>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan='1'>
        <mat-form-field appearance="fill" class="language-select">
          <mat-label>{{'SELECT_LABEL' | translate}}</mat-label>
          <mat-select [(ngModel)]="selectedLanguage" (selectionChange)="selectLanguage(selectedLanguage)">
            <mat-option [value]="'en'">{{'ENGLISH' | uppercase}}</mat-option>
            <mat-option [value]="'de'">{{'DEUTSCH' | uppercase}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan='1'>
        <mat-icon>light_mode</mat-icon>
        <mat-slide-toggle [checked]="!lightTheme" class="theme-toggle" (change)="selectTheme($event)">
          <mat-icon>dark_mode</mat-icon>
        </mat-slide-toggle>
      </mat-grid-tile>
    </mat-grid-list>
    <div>
      <mat-grid-list [cols]="5" rowHeight="70" class="mat-grid-list-header">
        <mat-grid-tile class="header-tile" *ngFor="let day of days;">
          <div>
            <p class="mb-0 fs-20">{{day.value | date: 'dd'}}</p>
            <p class="day-name">{{day.text | translate}}</p>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list *ngFor="let label of filteredLabels; let i = index;" cols="5" class="mat-grid-list-content"
        rowHeight="322">
        <div *ngFor="let note of notesJson[label.id]; let j = index;">
          <app-note-card (edit)="editNote($event)" (delete)="deleteNote($event)" (print)="printNote($event)"
            draggable="true" (drag)="drag($event)" id="id-{{note.id}}-{{label.id}}-{{note.startDay}}" [note]="note"
            [label]="label"></app-note-card>
        </div>
        <mat-grid-tile id="{{label.id}}-1" class="day-tile" (drop)="drop($event)" (dragover)="allowDrop($event)">
        </mat-grid-tile>
        <mat-grid-tile id="{{label.id}}-2" class="day-tile" (drop)="drop($event)" (dragover)="allowDrop($event)">
        </mat-grid-tile>
        <mat-grid-tile id="{{label.id}}-3" class="day-tile" (drop)="drop($event)" (dragover)="allowDrop($event)">
        </mat-grid-tile>
        <mat-grid-tile id="{{label.id}}-4" class="day-tile" (drop)="drop($event)" (dragover)="allowDrop($event)">
        </mat-grid-tile>
        <mat-grid-tile id="{{label.id}}-5" class="day-tile" (drop)="drop($event)" (dragover)="allowDrop($event)">
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
  <div id="print-div" *ngIf="printObj">
    <table>
      <tr>
        <td>
          <b>Id:</b>
        </td>
        <td>
          {{printObj.id}}
        </td>
      </tr>
      <tr>
        <td>
          <b>Title:</b>
        </td>
        <td>
          {{printObj.noteTitle}}
        </td>
      </tr>
      <tr>
        <td>
          <b>Summary:</b>
        </td>
        <td>
          {{printObj.noteSummary}}
        </td>
      </tr>
      <tr>
        <td>
          <b>Labels:</b>
        </td>
        <td>
          {{printObj.noteLabels}}
        </td>
      </tr>
      <tr *ngIf="printObj.noteStartDate">
        <td>
          <b>Start Date:</b>
        </td>
        <td>
          {{printObj.noteStartDate * 1000 | date: 'dd-MM-YYYY'}}
        </td>
      </tr>
      <tr *ngIf="printObj.noteEndDate">
        <td>
          <b>End Date:</b>
        </td>
        <td>
          {{printObj.noteEndDate * 1000 | date: 'dd-MM-YYYY'}}
        </td>
      </tr>
      <tr *ngIf="printObj.noteDays">
        <td>
          <b>
            Working Days Duration:
          </b>
        </td>
        <td>
          {{printObj.noteDays}} {{'DAYS' | translate }}
        </td>
      </tr>
    </table>
  </div>
</div>