.note-item
{
  display: block;
  position: absolute;    
  padding: 5px;
  text-align: center;
  cursor: move;
}

.note-item:hover
{  
  z-index: 999;
}

.width-1
    {    
      width: calc((100%/5)*1);
    }
  
  .width-2
    {    
      width: calc((100%/5)*2);
    }
  
    .width-3
    {    
      width: calc((100%/5)*3);
    }
  
    .width-4
    {    
      width: calc((100%/5)*4);
    }
  
    .width-5
    {    
      width: calc((100%/5)*5);
    }
  
  .left-1
    {    
      margin-left: calc((100%/5)*0);
    }
  
  .left-2
    {    
      margin-left: calc((100%/5)*1);
    }
  
    .left-3
    {    
      margin-left: calc((100%/5)*2);
    }
  
    .left-4
    {    
      margin-left: calc((100%/5)*3);
    }
  
    .left-5
    {    
      margin-left: calc((100%/5)*4);
    }
  
    .top-1
    {
      top:0px;
      z-index: 6;
    }
  
    .top-2
    {
      top:105px;
      z-index: 5;
    }
  
    .top-3
    {
      top:210px;
      z-index: 4;
    }
  
    .top-4
    {
      top:313px;
      z-index: 3;
    }
  
    .top-5
    {
      top:416px;
      z-index: 2;
    }
  
    .top-6
    {
      top:519px;
      z-index: 1;
    }
  
    .color-1
    {
      border-left: 10px solid var(--color-1);
      border-radius: 0px;
    }    
    
    .color-1:hover
    {
      border-top: 1px solid var(--color-1);
      border-right: 1px solid var(--color-1);
      border-bottom: 1px solid var(--color-1);
      margin-top: -1px;
      margin-right: -1px;
    }

    .color-2
    {
      border-left: 10px solid var(--color-2);
      border-radius: 0px;
    }

    .color-2:hover
    {
      border-top: 1px solid var(--color-2);
      border-right: 1px solid var(--color-2);
      border-bottom: 1px solid var(--color-2);
      margin-top: -1px;
      margin-right: -1px;
    }

    .color-3
    {
      border-left: 10px solid var(--color-3);
      border-radius: 0px;
    }

    .color-3:hover
    {
      border-top: 1px solid var(--color-3);
      border-right: 1px solid var(--color-3);
      border-bottom: 1px solid var(--color-3);
      margin-top: -1px;
      margin-right: -1px;
    }
  
    .color-4
    {
      border-left: 10px solid var(--color-4);
      border-radius: 0px;
    }

    .color-4:hover
    {
      border-top: 1px solid var(--color-4);
      border-right: 1px solid var(--color-4);
      border-bottom: 1px solid var(--color-4);
      margin-top: -1px;
      margin-right: -1px;
    }
  
    .color-5
    {
      border-left: 10px solid var(--color-5);
      border-radius: 0px;
    }

    .color-5:hover
    {
      border-top: 1px solid var(--color-5);
      border-right: 1px solid var(--color-5);
      border-bottom: 1px solid var(--color-5);
      margin-top: -1px;
      margin-right: -1px;
    }
  
    .color-6
    {
      border-left: 10px solid var(--color-6);
      border-radius: 0px;
    }

    .color-6:hover
    {
      border-top: 1px solid var(--color-6);
      border-right: 1px solid var(--color-6);
      border-bottom: 1px solid var(--color-6);
      margin-top: -1px;
      margin-right: -1px;
    }
  
    .color-7
    {
      border-left: 10px solid var(--color-7);
      border-radius: 0px;
    } 
    
    .color-7:hover
    {
      border-top: 1px solid var(--color-7);
      border-right: 1px solid var(--color-7);
      border-bottom: 1px solid var(--color-7);
      margin-top: -1px;
      margin-right: -1px;
    }

    .note-heading
    {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  
    .mh-40
    {
      min-height: 40px;
    }
    
    .mb-0
    {
      margin-bottom: 0px !important;
    }

    .mt-5
    {
      margin-top: 5px !important;
    }
    
    .short-summary
    {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .edit-icon
    {
      position: absolute;
      right: 20px;
      top: 5px;
      font-size: 18px;
      cursor: pointer;
    }

    .delete-icon
    {
      position: absolute;
      right: 0;
      top: 5px;
      font-size: 18px;
      cursor: pointer;
    }

    .print-icon
    {
      position: absolute;
      right: 45px;
      top: 5px;
      font-size: 18px;
      cursor: pointer;
    }

    .expand-collapse-div:hover
    {
      background: #efe9e9;
    }

    .expanded-div
    {
      background: #efe9e9;
    }

    .expand-collapse-div
    {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0px;
      cursor: pointer;
     
      height: 12px;
      border-top: dotted 1px lightgray;
      .expand-icon
      {
        margin-top: -7px;
        color: gray;
      }
  
      .collapse-icon
      {
        margin-top: -7px;
        color: gray;
      }
    }
  