<div class="note-item width-{{note.daysCount}} left-{{note.startDay}} top-{{note.count}} card-{{note.count}}">
    <div class="note-card">
        <mat-card class="color-{{note.count}}">
            <mat-card-title class="mb-0">
                <h4 class="text-left note-heading mb-0">
                    <b>({{note.id}}) {{note.title}}</b>
                </h4>
            </mat-card-title>
            <mat-card-content class="mh-40">
                <p class="text-left short-summary">
                    {{note.summary}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>